snippet suwidget "Surround With Widget"
  ${1:Widget}(
    ${2:child}:${4:${VISUAL}}
  )${3:,}
endsnippet

snippet sulist "Surround in Row/Column/Stack"
  ${1:Row}(
    ${2:children}:[${4:${VISUAL}}],
  )${3:,}
endsnippet
